body {
  background: #272727;
  color: rgba(255, 255, 255, 0.4);
  background: #222;
  line-height: 1.7;
  font-size: 16px;
  font-weight: 400;
  color: #ccc;
}

.description {
  font-weight: 300;
}

h2, h3, h4, h5, h6 {
  font-weight: 600;
}

p {
  font-size: 18px;
  margin: 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.section-main {
  background-image: url(../images/main.jpg);
  background-color: #ccc;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  animation: fadeIn ease 2.5s;
  -webkit-animation: fadeIn ease 2.5s;
  -moz-animation: fadeIn ease 2.5s;
  -o-animation: fadeIn ease 2.5s;
  -ms-animation: fadeIn ease 2.5s;
}

@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}

@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}

@-o-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}

@-ms-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}

.section-main, .section-main .row {
  height: 100vh;
}

.section-main:before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.pt-5 {
  padding-top: 15rem !important;
}

.section-main h1 {
  font-weight: 200;
  margin-bottom: 20px;
  display: block;
  font-size: 70px;
}

.section-main h1 strong {
  font-weight: 800;
}

.letter-spacing {
  letter-spacing: .2rem;
  color: rgba(255, 255, 255, 0.5) !important;
}

.social-icons {
  text-align: center;
  font-size: 25px;
}

.social-icons .social-icon {
  color: #ccc;
  transition: .5s all;
  padding: 0 5px;
}

.social-icons .social-icon:hover {
  color: #fff;
  text-decoration: none;
}

.arrow-down i {
  font-size: 2rem;
  float: right;
  animation: moveUpAndDown 2s ease-in-out infinite;
}

@keyframes moveUpAndDown {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

.section-aboutme {
  font-weight: 400;
  height: 100vh;
  padding-top: 15rem;
}

.photo-aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.section-experience {
  height: auto;
}

.section-experience h2 {
  padding-bottom: 2rem;
}

.section-experience p {
  font-size: 16px;
}

.box-container-experience {
  background-color: #333;
  border-radius: 35px;
  height: auto;
  padding: 2.5rem;
}

.experience {
  border-left: 2px solid #ccc;
  padding-left: 2rem;
  padding-bottom: 3rem;
}
